:root {
  --color-white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #777;
  font-weight: 700;
  line-height: 1.7;
}

.sidebar__link:link,
.sidebar__link:visited {
  text-decoration: none;
  color: inherit;

  display: flex;
  align-items: center;
}

.link:link,
.link:visited,
.user__link:link,
.user__link:visited,
.tour__link:link,
.tour__link:visited,
.comment__link:link,
.comment__link:visited,
.notfound__link:link,
.notfound__link:visited {
  text-decoration: none;
  color: inherit;
}

input[type='file'] {
  border: none;
}

.icon {
  font-size: 2rem;
  margin: 0 1.5rem;
  cursor: pointer;
}

.active {
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: rgb(240, 240, 255);
}
